<!-- app/templates/categorias.html -->
{% extends "layouts/layout.html" %}

{% block body %}
<h1>Registrar Categorias</h1>
<form action="/categorias" method="post">
    <input type="text" name="nome" required placeholder="Nome da Categoria">
    <button type="submit">Adicionar Categoria</button>
</form>

{% if categorias|length < 1 %}
<h4>Você ainda não registrou nenhuma categoria. Registre uma agora!</h4>
{% else %}
<table>
    <tr>
        <th>Nome</th>
        <th>Ações</th>
    </tr>
    {% for categoria in categorias %}
    <tr>
        <td>{{ categoria.nome }}</td>
        <td>
            <form action="{{ url_for('delete_categoria', categoria_id=categoria.id) }}" method="post" style="display:inline;">
                <button type="submit">Deletar</button>
            </form>
            <form action="{{ url_for('edit_categoria', categoria_id=categoria.id) }}" method="get" style="display:inline;">
                <button type="submit">Editar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
