{% block content %}
        <form action="{{ url_for('feature1') }}" method="POST">
            <h3>Feature1:</h3>
            Valor1<br>
            <input type="text" name="valor1" /><br>

            Valor2<br>
            <input type="text" name="valor2" /><br>

            Valor3<br>
            <input type="text" name="valor2" /><br>

            Valor4<br>
            <input type="text" name="valor3" /><br>

            <input type="submit" value="Submit" /><br>
        </form>

        {% set mensagens = get_flashed_messages() %}
        {% if mensagens %}
            <div>
    
                {% for msg in mensagens %}
                    {{ msg }}
                {% endfor %}
    
            </div>
        {% endif %}

{% endblock %}