<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/index">Página inicial</a>
        <a href="/login">Login</a>
        <a href="/usuarios">Usuários</a>
        <a href="/usuario">Cadastrar usuário</a>
        <a href="/gastos">Visualizar meus gastos</a>
        <a href="/salario">Inserir salário</a>

    </nav>
    <h2>Olá {{nome}}!</h2>
</body>
</html>