<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/index">Página inicial</a>
        <a href="/feature1">feature1</a>
        <a href="/feature2">feature2</a>
        <a href="/login">Login</a>
        <a href="/usuarios">Usuarios</a>
        <a href="/usuario">cadastrar usuario</a>
        <a href="/gastos">Vizualizar meus gastos</a>

    </nav>
    <h2>Olá {{nome}}!</h2>
</body>
</html>