<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login</h2>
    <form action = "/autenticar" method="post">
        Usuário: <input type="text" name = "usuario"></br>
        Senha: <input type="password" name = "senha"></br>
        <button type="submit">Entrar</button>
    </form>
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        <div>

            {% for msg in mensagens %}
                {{ msg }}
            {% endfor %}

        </div>
    {% endif %}
</body>
</html>