<!-- {% extends "layouts/layout.html" %}

{%block body%}

<h1>Insira a sua edição</h1>
    <form action="/gastos" method="post" style="display:inline;">
        <input type="hidden" name="action" value="edit">
        <input type="hidden" name="gasto_id" value="{{ gasto_id }}">
        <input type="date" name="data" required >
        <input type="number" name="valor" required>
        <input type="text" name="categoria_id" required>
        <button type="submit">Adicionar edição</button>
    </form>

{% endblock %} -->