<!DOCTYPE html>
<html>
<head>
    <title>Dados do Usuário</title>
</head>
<body>
    <h3>Dados do usuário:</h3>
    <form action="{{ url_for('usuario') }}" method="POST">
        CPF<br>
        <input type="text" name="CPF" value="{{ row['CPF']}}" /><br>

        Nome<br>
        <input type="text" name="nome" value="{{ row['nome'] if row else '' }}" /><br>

        Idade<br>
        <input type="text" name="idade" value="{{ row['idade'] if row else '' }}" /><br>

        Email<br>
        <input type="text" name="email" value="{{ row['email'] if row else '' }}" /><br>

        <input type="submit" name="action" value="salvar" /><br>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>